/* Navbar */
nav {
    background-color: #333;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

/* Formulário */
form {
    width: 100%;
    max-width: 450px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.form-group label {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .5em;
    color: #333;
}

.form-group input,
.form-group textarea {
    font-size: 1em;
    padding: .8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #4CAF50;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: .8em 1.2em;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #45a049;
}

input::placeholder {
    color: #888;
}

p {
    color: #ff0000;
    font-size: 0.9em;
    margin: 0.5em 0 0;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Estrelas de Avaliação */
.star-rating {
    direction: rtl;
    display: inline-flex;
    font-size: 2em;
    margin-top: 1em;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star-rating label:before {
    content: "★";
    font-size: 30px;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #f7c843;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f7c843;
}

/* Botões */
button {
    background-color: #3e0ec29f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.botaoFechar {
    background-color: red;
}

button:hover {
    background-color: #FF5722;
    transform: scale(1.05);
}

button:active {
    background-color: #E64A19;
    transform: scale(0.98);
}

button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.5);
}

/* Estilos para o Modal */
dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.form-group.tags-group {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1;
    margin-right: 10px;
}

.tags-container {
    margin-bottom: 1.5em;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1;
    margin-right: 10px;
}

.add-tag-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.add-tag-button:hover {
    background-color: #45a049;
}

.error-message p {
    color: #ff0000;
    font-size: 0.9em;
    margin: 0.5em 0 0;
}

/* Lista de tags */
.tags-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}