nav {
    background-color: #333;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #333; /* Cor da tabela combinando com a navbar */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.star-rating {
    display: inline-flex;
    direction: rtl;
    font-size: 1.5em; /* Tamanho das estrelas */
  }
  
  .star {
    color: #ccc; /* Cor das estrelas vazias */
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .star.filled {
    color: #f7c843; /* Cor das estrelas preenchidas */
  }
  
  .star:hover,
  .star:hover ~ .star {
    color: #f7c843; /* Cor das estrelas ao passar o mouse por cima */
  }
  
  form {
    width: 100%;
    max-width: 450px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.form-group label {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .5em;
    color: #333;
}

.form-group input,
.form-group textarea {
    font-size: 1em;
    padding: .8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #4CAF50;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: .8em 1.2em;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #45a049;
}

input::placeholder {
    color: #888;
}